@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

html body{
  margin: 0;
  padding: 0;
  text-align: center;
}

a{
  text-decoration: none;
}

* {
  font-family: 'Josefin Sans', sans-serif;
}

.primary-title {
  font-size: 90px;
  color: black;
  text-align: left;
  margin-left: 60px;
  line-height: 0%;
}

.highlight-title {
  font-size: 90px;
  color: #9b5de5;
  text-align: left;
  margin-left: 60px;
}

.primary-button {
  color:#fff;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #f72585;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background-color: #ef233c;
}

.secondary-button {
  color: rgb(121,110,119);
  background-color: white;
  font-weight: 500px;
  font-size: 15px;
  text-transform: capitalize;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px rgb(121,119,119);
  margin: 6px;
}

.secondary-button:hover {
  color:rgb(48,48,48);
  border: solid 2px rgb(48,48,48);
}

/* ----- NavBar --- */

nav {
  width: 100%;
  display:flex;
  background-color: transparent;
  justify-content: space-between
}

.left-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.mid-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-grow: 1;
}

.mid-container svg {
  text-align: center;
}

nav .nav-button {
  color: white;
  background-color: #9b5de5;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 20px;
}
/* 
nav .nav-button:disabled {
  background: rgb(189, 180, 180);
  color: #f72585
} */

nav .logo-container {
  width: 150px;
  margin: 15px;
  margin-top: 0;
  font-size: 25px;
}

nav .logo-container .logo {
  width: 100%
}

/* ----Home------ */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  
}

@media (max-width: 480px) {
  .overlay {
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .overlay{
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

@media (min-width: 1025px) {
  .overlay{
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

.home {
  margin-bottom: 15vh;
  margin-top: 10vh;
}

.search {
  text-align: right;
  font-size: 20px;
  margin-right: 25vw;
  color: black;
  font-weight: bolder;
}



/* -----Auth Modal ------ */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 400px;
  background: white;
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input[type = password],
.auth-modal input[type = email] {
  padding: 8px;
  margin:8px;
  font-size: 17px;
}


/* -------OnBoarding Page ------- */
.onboarding {
  border-top: solid 1px rgb(213,213,213);
}


.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type = "radio"] {
  display: none;
}
.onboarding form input[type = "number"] {
  width: 10%;
}

.onboarding form input[type = "radio"]:checked + label {
  border: solid 2px rgb(221,39,22);
}

.onboarding form input[type = "submit"]:hover {
  background-color: rgb(235,235,235);
}

.onboarding form input[type = "active"]:hover {
  background-color: rgb(226,115,155);
}

.onboarding form .photo-container img{
  width: 100%;
}