@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap');


html body{
  margin: 0;
  padding: 0;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}


* {
  font-family: 'Josefin Sans', sans-serif;
}

.primary-title {
  font-size: 90px;
  color: black;
  text-align: left;
  margin-left: 70px;
  line-height: 0%;
}

.highlight-title {
  font-size: 90px;
  color: #9b5de5;
  text-align: left;
  margin-left: 70px;
}

.primary-button {
  color:#fff;
  text-transform: uppercase;
  font-size: 15px;
  background-color: #f72585;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

.primary-button:hover {
  background-color: #ef233c;
}

.secondary-button {
  color: rgb(121,110,119);
  background-color: white;
  font-weight: 500px;
  font-size: 20px;
  text-transform: capitalize;
  padding: 12px 25px;
  border-radius: 30px;
  border: solid 2px #9b5de5;
  margin: 6px;
}

.secondary-button:hover {
  color:#9b5de5;
  border: solid 2px #9b5de5;
}

/* ----- NavBar --- */

nav {
  width: 100%;
  display:flex;
  background-color: transparent;
  justify-content: space-between
}

.left-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.mid-container {
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 1;
}

.mid-container svg {
  text-align: center;
}

nav .nav-button {
  color: white;
  background-color: #9b5de5;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  margin: 20px;
}
/* 
nav .nav-button:disabled {
  background: rgb(189, 180, 180);
  color: #f72585
} */

nav .logo-container {
  width: 150px;
  margin: 15px;
  margin-top: 0;
  font-size: 25px;
}

nav .logo-container .logo {
  width: 100%
}

nav .logo-container h1{
  color: #9b5de5;
  font-family: 'Cormorant SC', serif;
}

/* ----Home------ */
.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  
}

@media (max-width: 480px) {
  .overlay {
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  .overlay{
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

@media (min-width: 1025px) {
  .overlay{
    background-image: url('./images/Cat.jpeg');
    background-position: center;
  }
}

.home {
  margin-bottom: 15vh;
  margin-top: 5vh;
}


/* -----Auth Modal ------ */
.auth-modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 500px;
  background: white;
  border-radius: 10px;
  border: solid 1px black;
  padding: 40px;
  z-index: 999;
}

.auth-modal .close-icon {
  float: right;
}

.auth-modal p{
  color: #9b5de5;
}

.auth-modal span {
  color: #6a4c93;
  text-decoration: underline;
}

.auth-modal form {
  display: flex;
  flex-direction: column;
}

.auth-modal input[type = password],
.auth-modal input[type = email],
.auth-modal input[type = text] {
  padding: 8px;
  margin:8px;
  font-size: 17px;
}

/* -----Search Form ------ */
.search-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  height: 500px;
  background: white;
  border-radius: 10px;
  padding: 40px;
  z-index: 999;
  border: solid 1px black;
  /* background: #dee2ff; */
}

.search-form .close-icon {
  float: right;
}

.search-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.search-form form input {
  padding: 10px 25px;
  margin: 10px 0;
  font-size: 22px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}

.search-form form input::-webkit-outer-spin-button,
.search-form form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form form label {
  margin: 10px 0;
  font-size: 20px;
  text-align: start;
}
.search-form form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.search-form form .multiple-input-container input {
  margin-right: 10px;
}

.search-form form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.search-form form input[type = "radio"] {
  display: none;
}
.search-form form input[type = "number"] {
  width: 10%;
}

.search-form form input[type = "radio"]:checked + label {
  border: solid 2px rgb(221,39,22);
}

.search-form form input[type = "submit"]:hover {
  background-color: rgb(235,235,235);
}

.search-form form input[type = "active"]:hover {
  background-color: rgb(226,115,155);
}

.search-form .headerSearchText {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  text-align: start;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}
.search-form .date input{
  display: none;
}

/* -------OnBoarding Page ------- */
.onboarding {
  border-top: solid 1px rgb(213,213,213);
  background-image: url("./images//paws.jpeg");
  background-position: right;
  background-repeat: no-repeat;
}


.onboarding form {
  display: flex;
  justify-content: center;
}

.onboarding form section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.onboarding form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}

.onboarding form textarea {
  padding: 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}

.onboarding form input::-webkit-outer-spin-button,
.onboarding form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.onboarding form label {
  margin: 10px 0;
}
.onboarding form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.onboarding form .address-multiple-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.onboarding form .multiple-input-container input {
  margin-right: 10px;
}

.onboarding form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.onboarding form input[type = "radio"] {
  display: none;
}
.onboarding form input[type = "number"] {
  width: 10%;
}
/* .onboarding form input[type = "textarea"] {
  height: 15%;
  

} */
.onboarding form input[id = 'city']{
  width:20%;
}
.onboarding form input[id = 'state']{
  width:10%;
}
.onboarding form input[id = 'zipcode'] {
  width: 15%
}

.onboarding form input[type = "radio"]:checked + label {
  border: solid 2px #9b5de5;
}

.onboarding form input[type = "submit"]:hover {
  background-color: rgb(235,235,235);
}

.onboarding form input[type = "active"]:hover {
  background-color: rgb(226,115,155);
}

.onboarding form .photo-container img{
  width: 50%;
}

/* -------Second OnBoarding Page ------- */
.add-service {
  border-top: solid 1px rgb(213,213,213);
  background-image: url("./images/paw2.jpeg");
  background-position: right;
  background-repeat: no-repeat;
}

.add-service form {
  display: flex;
  justify-content: flex-start;
  margin-left: 10%;
}

.add-service form label {
  margin: 10px 0;
}

.add-service form section{
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 35%;
  text-align: start;
}

.add-service form input {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}

.add-service form .multiple-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-service form input::-webkit-outer-spin-button,
.add-service form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add-service form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.add-service form input[type = "radio"] {
  display: none;
}

.add-service form input[type = "radio"]:checked + label {
  border: solid 2px #9b5de5;
}

.add-service form input[type = "submit"]:hover {
  background-color: rgb(235,235,235);
}

.add-service form .rmdp-input {
  display: none;
}

.add-service form p{
  color: #ef233c;
}


/* -------Service Panel ------- */
.service {
  display: flex;
  flex-direction: column;
}

.service .service-list {
  background: #dfe7fd;
  border-radius: 5%;
}

.service h1{
  text-align: left;
  margin-left: 20px;
  font-family: 'Cormorant SC', serif;
}

.service .list {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 5px;
  background-color: #cdb4db;
  border-radius: 10px;
  
}

.service .list .left {
  padding-left: 40px;
}

.service .list .right {
  padding-right: 30px;
}

.service .list h3{
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;
}

.service .list p {
  margin-bottom: 0;
}

.custom-today-day {
  border: 1px solid #b8c0ff !important;
}

.custom-today-day::after {
  visibility: hidden; /* hide small border under the text */
}

.responsive-calendar {
  /* by setting font-size, all the elements will correspond */
  font-size: 11px !important; /* default to 10px */
}

@media (max-width: 1500px) {
  .responsive-calendar {
    font-size: 10px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-calendar {
    font-size: 9px !important;
  }
}

@media (max-width: 768px) {
  .responsive-calendar {
    font-size: 8px !important;
  }
}

/* Large screens */
@media (min-width: 2500px) {
  .responsive-calendar {
    font-size: 13px !important;
  }
}


  /* -------Dropdown Menu ------- */
  .services-submenu {
    width: 10rem;
    position: absolute;
    top: 60px;
    right: 60px;
    list-style: none;
    text-align: start;
    border-radius: 20px;
    padding-inline-start: 0;

  }
  .services-submenu a {
    color: white;
  }
  
  .services-submenu li {
    background: #9b5de5;
    cursor: pointer;
  }
  
  .services-submenu li:hover {
    background: #6a4c93;
  }
  
  .services-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 10rem;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-right: 20px;
  }


  /* -------Dashboard ------- */
  .dashboard {
    border-top: solid 1px rgb(213,213,213);
    /* background-image: url("./images/background.jpeg");
    background-position: center;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
  }
  
  .dashboard .main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10%;
    padding: 20px;
    padding-top: 0;
  }

  .dashboard .main-content .top-container {
    height: 150px;
    padding-bottom: 10px;
  }
  .dashboard .main-content .top-container .panel {
    display: flex;
    padding-left: 100px;
    align-items: flex-end;
  }

  .dashboard .main-content .bottom-container {
    display: flex;
    justify-content: flex-start;
    /* width:100% */
    /* width: 35%; */
  }

  .dashboard .main-content .bottom-container .profile {
    flex-grow: 1;
  }

  .dashboard .main-content .bottom-container .profile h1 {
    margin-left: 2%;
    font-family: 'Cormorant SC', serif;
    /* text-align: start; */
  }

.img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: solid 5px white;
    border-radius: 200%;
  }

  .dashboard img {
    margin:auto;
    width:150px
  }

  .dashboard .top-container .panel p {
    display: block;
    text-align: left;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0;
    font-family: 'Cinzel', serif;
  }

  .dashboard .top-container .panel .name {
    font-size: 40px;
  }

  .dashboard .top-container .panel .info {
    margin-left: 15%;
    /* border-radius: 10%;
    background: #9b5de5; */
    padding:20px
  }


  .dashboard .profile form {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    text-align: start;
  }

  .dashboard .profile form section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 48%;
    text-align: start;}

  
  .dashboard form input {
    padding: 5px 5px;
    margin: 10px 0;
    font-size: 15px;
    border: solid 2px rgb(219,219,219);
    border-radius: 10px;
  }

  .dashboard form input::-webkit-outer-spin-button,
.dashboard form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dashboard form label {
  margin: 10px 0;
}
.dashboard form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.dashboard form .multiple-input-container input {
  width:20%
}

.dashboard form .address-multiple-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard form .address-multiple-input-container input{
  width:30%;
}

.dashboard .photo-container img{
  width: 50%;
  margin-bottom: 10%;
}

.dashboard .delete {
  background: #ef233c;
  color: white;
  color:#fff;
  text-transform: uppercase;
  font-size: 15px;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
}

/* -------Result Page ------- */
.results {
  border-top: solid 1px rgb(213,213,213);
  background-image: url("./images/result.jpeg");
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.results .main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10%;
  padding: 20px;
  padding-top: 0;
}

.results .main-content .left-container {
  border: solid 2px gainsboro;
  border-radius: 10px;
  height: 600px;
  margin-right: 80px;
}

.filter {
  background:white;
  border-radius: 10px;
}

.filter .service {
  /* position: absolute;
  left: 0;
  right: 0; */
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  width:400px;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

.filter .service form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.filter .service form input {
  padding: 10px 25px;
  margin: 10px 0;
  font-size: 18px;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
  width:300px;
}

.filter .service form input[type="submit"] {
  margin-left: auto;
  margin-right: auto;
  width:200px;
}


.filter .service form input::-webkit-outer-spin-button,
.filter .service form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter .service .search-title {
  font-size: 20px;
}

.filter .service form label {
  margin: 10px 0;
  font-size: 18px;
  text-align: start;
}
.filter .service form .multiple-input-container {
  display: flex;
  flex-direction: row;
}

.filter .service form .multiple-input-container input {
  margin-right: 10px;
}

.filter .service form .multiple-input-container label {
  padding: 10px;
  border: solid 2px rgb(144,144,144);
  border-radius: 10px;
  transition: all 0.3s;
  margin-right: 10px;
}

.filter .service form input[type = "radio"] {
  display: none;
}
.filter .service form input[type = "number"] {
  width: 10%;
}

.filter .service form input[type = "radio"]:checked + label {
  border: solid 2px rgb(221,39,22);
}

.filter .service form input[type = "submit"]:hover {
  background-color: rgb(235,235,235);
}

.filter .service form input[type = "active"]:hover {
  background-color: rgb(226,115,155);
}

.filter .service .headerSearchText {
  padding: 15px 30px;
  margin: 10px 0;
  font-size: 15px;
  text-align: start;
  border: solid 2px rgb(219,219,219);
  border-radius: 10px;
}
.filter .service .date input{
  display: none;
}

.filter .service .secondary-button {
  justify-content: center;
}

.results .right-container .result-list {
  display: flex;
  flex-direction: column;
  padding:20px;
  padding-top: 0;
}

.results a {
  text-decoration: none;
}

.results .right-container .result-list .card {
  display: flex;
  border: solid 2px gainsboro;
  padding:20px;
  border-radius: 10px;
  margin-bottom: 10px;
  background:white
}

.results .right-container .result-list .card .result-star {
  display: flex;
  margin-top: 0;
}

.results .right-container .result-list .card .result-star p {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 5px;
}
.results .right-container .result-list .card .picture {
  
  margin-right: 30px;
  margin-left: 30px;
  border-radius: 10px;
}

.results .right-container .result-list .card img{
  width: 150px;
  height: 170px;
  /* margin-bottom: 10%; */
  object-fit: cover; 
  object-position: 100% 0;
  /* height: 200px; */
}

.results .right-container .result-list .card-detail {
  text-align: left;
  color: black;
}

.results .right-container .result-list .card-detail h1{
  font-family: 'Cormorant SC', serif;
  margin-top: 0;
  /* margin-bottom: 0; */
}



/* -------Edit Service Page ------- */

.edit-service {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  height: 450px;
  background: white;
  border-radius: 10px;
  padding: 40px;
  z-index: 999;
  border: solid 1px black;
}

.edit-service .close-icon {
  float: right;
}

.edit-service form {
  display: flex;
  flex-direction: column;
}

.edit-service form input {
  padding: 8px;
  margin:0px;
  font-size: 15px;
}

.edit-service form label {
  text-align: left;
}

.edit-service form input[type="submit"] {
  padding: 8px;
  margin:15px;
  font-size: 20px;
}

/* -------Service Detail ------- */
.detail {
  border-top: solid 1px rgb(213,213,213);
  /* background-image: url("./images/background.jpeg");
  background-position: center;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
}

.detail .main-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 10%;
  padding: 20px;
  padding-top: 0;
}

.detail .main-content .top-container {
  height: 180px;
  padding-bottom: 10px;
}
.detail .main-content .top-container .panel {
  display: flex;
  padding-left: 100px;
  align-items: flex-end;
}

.detail .main-content .bottom-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  /* width:100% */
  /* width: 35%; */
}

.detail img {
  /* margin:auto; */
  width:150px;
  object-fit: cover; 
  object-position: 100% 0;
}

.detail .top-container .panel p {
  display: block;
  text-align: left;
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 0;
  font-family: 'Cinzel', serif;
}

.detail .star p {
  margin-left: 10px;
  padding-top: 3px;
}

.detail .top-container .panel .name {
  font-size: 40px;
}

.detail .top-container .panel .info {
  margin-left: 15%;
  /* border-radius: 10%;
  background: #9b5de5; */
  padding:20px
}

.detail .top-container .panel .info .primary-button {
  margin-top: 10px;
  margin-right: 160px;
}

.detail .service-list {
  background: #dfe7fd;
  border-radius: 5%;
  padding:10px
}

.detail h1{
  text-align: left;
  margin-left: 20px;
  font-family: 'Cormorant SC', serif;
}

.detail .review {
  margin-left: 90px;
}

.detail .review p {
  font-size: 20px;

}

.detail .list {
  display: flex;
  justify-content: space-between;
  /* padding: 10px; */
  margin: 5px;
  background-color: #cdb4db;
  border-radius: 10px;
  
}

.detail .list .left {
  padding-left: 40px;
}

.detail .list .right {
  padding-right: 30px;
}

.detail .list h3{
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 8px;
}

.detail .list p {
  margin-bottom: 0;
}

.detail .star {
  display: flex;
}



.booking {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
  height: 680px;
  background: white;
  border-radius: 10px;
  border: solid 3px #dee2ff;
  padding: 40px;
  z-index:999;
  border: solid 1px black;
}

.booking .close-icon {
  float: right;
}

.booking h2 {
  margin-bottom: 30px;
}

.booking h3 {
  text-align: left;
}

.booking form {
  display: flex;
  flex-direction: column;
}

.booking form input {
  padding: 8px;
  margin:0px;
  font-size: 15px;
}

.booking form label {
  text-align: left;
}

.booking form input[type="submit"] {
  padding: 8px;
  margin:15px;
  font-size: 20px;
}

/* -------Review ------- */
.review p {
  text-align: left;
  padding-left: 20px;
}

.review form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.review input[type='text'] {
  font-size: 20px;
  padding:20px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
}

.review input[type='submit'] {
  width: 100px;
  font-size: 20px;
  padding: 5px;
  border-radius: 10px;
  margin-top: 10px;
}

.review .review-card {
  text-align: left;
  padding-left: 20px;
  margin-left: 15px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.review .review-card p {
  padding-left: 0;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 18px;
}

.review .review-card h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

.review .review-box {
  margin-top: 10px;
}

.review .review-box textarea {
  font-size: 20px;
  padding:20px;
  width: 500px;
  height: 100px;
  border-radius: 10px;
}

.review .review-title {
  display: flex;
  justify-content: space-between;
}

.review .review-title h2 {
  margin-top: 0;
  margin-bottom: 0;
}



/* -------Footer ------- */
.footer {
  background: #9b5de5;
  color: white;
  padding:10px;
  display: flex;
  justify-content: space-around;
  /* position: absolute;
  bottom: 0; */
  position:fixed;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}
  

/* -------About------- */
.about {
  background-image: url('./images//about.jpeg');
  background-position: left;
  background-repeat: no-repeat;
}

.about .main h1{
  color: #9b5de5;
  font-weight: 500;
}

.about .main {
  width: 600px;
  margin: auto;
  padding:40px
}

.about .main p{
  font-size: 30px;
  text-align: left;
  margin-bottom: 60px;
}

nav .logo-container h1{
  color: #9b5de5;
  font-family: 'Josefin Sans', sans-serif;;
}